\documentclass[12pt,]{book}
\usepackage{lmodern}
\usepackage{amssymb,amsmath}
\usepackage{ifxetex,ifluatex}
\usepackage{fixltx2e} % provides \textsubscript
\ifnum 0\ifxetex 1\fi\ifluatex 1\fi=0 % if pdftex
  \usepackage[T1]{fontenc}
  \usepackage[utf8]{inputenc}
\else % if luatex or xelatex
  \ifxetex
    \usepackage{mathspec}
    \usepackage{xltxtra,xunicode}
  \else
    \usepackage{fontspec}
  \fi
  \defaultfontfeatures{Mapping=tex-text,Scale=MatchLowercase}
  \newcommand{\euro}{€}
\fi
% use upquote if available, for straight quotes in verbatim environments
\IfFileExists{upquote.sty}{\usepackage{upquote}}{}
% use microtype if available
\IfFileExists{microtype.sty}{%
\usepackage{microtype}
\UseMicrotypeSet[protrusion]{basicmath} % disable protrusion for tt fonts
}{}
\ifxetex
  \usepackage[setpagesize=false, % page size defined by xetex
              unicode=false, % unicode breaks when used with xetex
              xetex]{hyperref}
\else
  \usepackage[unicode=true]{hyperref}
\fi
\hypersetup{breaklinks=true,
            bookmarks=true,
            pdfauthor={Kassius Iacchus Mercurius},
            pdftitle={},
            colorlinks=true,
            citecolor=blue,
            urlcolor=blue,
            linkcolor=magenta,
            pdfborder={0 0 0}}
\urlstyle{same}  % don't use monospace font for urls
\setlength{\parindent}{0pt}
\setlength{\parskip}{6pt plus 2pt minus 1pt}
\setlength{\emergencystretch}{3em}  % prevent overfull lines
\setcounter{secnumdepth}{0}

\title{A Dança dos Espíritos}
\author{Kassius Iacchus Mercurius}
\date{}

\begin{document}
\maketitle

{
\hypersetup{linkcolor=black}
\setcounter{tocdepth}{}
\tableofcontents
}
<h1 id="paradigmas-1">Paradigmas #1</h1>
<h1 id="luz-e-caos-nox">LUZ e CAOS (NOX)</h1>
<h2 id="luz">LUZ</h2>
<p>Luz é o paraíso prometido.</p>
<h2 id="caos">CAOS</h2>
<p>Caos é a dissolução na Cidade das Pirâmides.</p>
<h3 id="continua">Continua…</h3>
<p>E que DEUS me ajude a nunca errar a porra dos numeros. SIM, A PORRA DOS NÚMEROS.</p>
<h1 id="mindfreaking-0">Mindfreaking #0</h1>
<p>Mindfreaking é uma seção de como mudar o ser humano.</p>
<p>Usando a inteligência, <em>mindfreaking</em> é sobre transcendência. Ok.</p>
<p>Mindfreaking é sobre o toque da morte do ego. Um único toque e a morte do ego.</p>
<p>Mindfreaking é sobre o dedo que aponta o caminho.</p>
<p>Mindfreaking é sobre a inteligência empregada no desenvolvimento das pessoas para o bem-estar coletivo.</p>
<p>Mindfreaking é sobre coisas que podem ser estranhas; é sobre intuição.</p>
<p>Esta é a introdução à seção mindfreaking.</p>
<h1 id="mindfreaking-1">Mindfreaking #1</h1>
<p>Nós devemos aprender a escutar as pessoas com o Coração.</p>
<p>Isso significa escutar as pessoas com profundidade e considerar as pessoas como significantes e especiais.</p>
<p>Escutar o que as pessoas tem a dizer como a expressão de seres humanos, e não como o latido de cães.</p>
<p>Escutar e não apenas ouvir.</p>
<p>Por outro lado, deveríamos nos expressar com o Coração igualmente.</p>
<p>Deveríamos dizer coisas significativas e verdadeiras e profundas baseadas mais no sentimento e na intuição.</p>
<p>De modo que quando duas pessoas conversem, eles possam conversar com o Coração, suas almas se tocando nesse simples e profundo ato.</p>
<h1 id="mindfreaking-2">Mindfreaking #2</h1>
<p>Sobre as características desejáveis nas pessoas.</p>
<ul>
<li>Atenção Perfeita, Lucidez</li>
<li>Visão Abstrata, Romântica, Visão profunda e essencial</li>
<li>Aspiração, Motivação elevada</li>
<li>Sutileza de espírito, bom gosto</li>
</ul>
<h2 id="atenção-perfeita">Atenção Perfeita</h2>
<p>Atenção conduz o homem à não ser jogado pra lá e para cá no oceano da vida.</p>
<h2 id="visão-abstrata">Visão Abstrata</h2>
<p>A visão abstrata ou romântica ou profunda permite o ser humano a perceber diferentes correntes <em>streams</em> de coisas externas e intuitivas.</p>
<h2 id="motivação-elevada">Motivação Elevada</h2>
<p>A motivação elevada de viver pelo bem-estar coletivo mantém o homem firme em frente às adversidades pois ele se enraíza em coisas sólidas.</p>
<h2 id="sutileza-de-espírito">Sutileza de Espírito</h2>
<p>A sutileza de espírito é uma característica desejável pois permite ao homem degustar as coisas boas da vida, tais como seres humanos, arte, acontecimentos, dias e coisas assim.</p>
<h1 id="a-sketch-de-um-tulku">A Sketch de um Tulku</h1>
<p>De acordo com os Graus da Ordem e das Esferas</p>
<p>LUA - MERCÚRIO - VÊNUS ZELATOR - PRACTICUS - PHILOSOPHUS</p>
<p>O Autor - ou os CHEFES - da Ordem tomara(m) o cuidado de modificar a Ordem de certas das Armas dos Graus para evitar os tipos de profanação baseados em teoria sem a prática; sendo Eles Adeptos portanto não cometendo erros, sua profanação se tornaria impossível. As armas deveriam ser retomadas a partir da natureza dos Votos.</p>
<p>Das Três Ordens da ORDEM, a Externa trabalha com o Pranayama, cuja natureza é Uma Dualidade; a Ordem Interna trabalha com o Conhecimento d’Ele cuja natureza é Uma Unidade (ou A Unidade), e um Ir, assim como os Deuses Vão, Caminham; e a Ordem Mais Interna, trabalha com a Conversação com Ele, cuja natureza é um Equilíbrio de Opostos que resulta em Uma Vacuidade. (+1 + -1 = 0)</p>
<p>Os Dois Graus Superiores da Ordem Externa, são as Duas naturezas do Grau de Zelator, Expiração e Inspiração, sendo o Grau de Dominus Liminis, Senhor do Limiar, a mestria do Colégio Externo, a Perfeição Microcosmica da Natureza destes Graus, &quot;para quem está fora do limiar, retenção&quot;.</p>
<p>Que fique claro que essa é apenas uma descrição do Colégio Externo. No Colégio Interno é a via Sabática, o caminho secreto no bosque escuro (vide Liber 811), que faz necessária uma Lâmpada Mágica para atravessar - para Ir, Caminhar.</p>
<p>A respeito do título, e relembrando que esse é um ensaio sobre o Colégio Externo, o colégio externo pois e sua Mestria no grau do Senhor do Limiar, o Iniciado deveria ter Consciência que essa é a construção de um Homem.</p>
<p>Deveria um homem trajado com trajes profanos entrar no Colégio Santo? Seria isso possível?</p>
<p>Se não for, vamos deixar os Trajes, que tecemos até então, na Porta do Templo, e entremos nele em silêncio; Os trajes. Na porta. Do Templo. Sejam os Trajes um homem profano, um Gênio Mau, ou o que for; ah! em Silêncio, e como dissera o Superior, com a mais excessiva humildade.</p>
<p>Três São As Ordens, mas apenas Um é o Coração do Homem!</p>
<p>Amor é a lei, amor sob vontade.</p>
<p>Publicado sob Ordem.</p>
<p>ps: Isso é apenas uma sketch, um esboço, uma anotação; não é belo e adorável publicarmos esboços em nossos sites, portanto, que isso não ocorra todas as vezes. Nós esperamos continuar essa sketch, no entanto num texto subsequente, talvez um livro, o &quot;Livro do Colégio Santo&quot;.</p>
<h1 id="mindfreaking-3">Mindfreaking #3</h1>
<p>Para conduzir os homens à aceitação da morte de seus familiares, deveriamos conscientiza-los que as torres de confusão, construções temporais relativas, histórias pessoais, costumam desabar.</p>
<p>Elas desabam.</p>
<p>Por isso nós não temos histórias com que quer que seja.</p>
<p>Quem é a nossa família real?</p>
<p>A nossa família real é aquela que possui a Vida, pois a vida que habita em todos é a mesma vida.</p>
<p>A nossa família real são as pequenas formigas, as borboletas e as plantas pequenas; a nossa família real são as árvores, as feras que voam, o sol e as estrelas. Nossa família real são as plantas e os animais e todos os seres humanos. E todos os seres vivos.</p>
<p>Quando nós tivermos realizado essa verdade, a verdade da Vida Absoluta, então não teremos mais histórias construídas e estaremos prontos para reconhecer todos os seres vivos como nossa família real.</p>
<p>Depois podemos nos preparar para a verdade que há apenas um único ser vivendo diferentes aspectos do espaço e do tempo. Todos os seres em que vibra a vida são o mesmo ser.</p>
<p>Todos nós somos o mesmo ser.</p>
<p>Só existe uma pessoa. E essa pessoa é DEUS.</p>
<p>O peso dessa consciência é infinito, mas a força adventícia é igualmente infinita; nenhuma tristeza ou dor há, e a alegria e o amor são infinitos; assim como a escuridão não há, apenas a Luz há. O equilíbrio restante é alguém sim, um nada pode ser, mas consciênte e que contempla o absoluto. Se em palavra ou em Silêncio, eu deixo a questão.</p>
<p>Então portanto poderiamos dizer que nós não temos história, mas que por outro lado, nas nossas viagens - do ser em que habita a Vida - pela(s) eternidade(s) temos todas as histórias.</p>
<p>E então nós voltamos para o Homem dividido, que vive em dualidade, estúpido diriamos apropriadamente?, a forma espaço-tempo em que habitamos nesse instante, e para que tomemos nossa alegria (ou o inferno de nossas tristezas, sinto-me responsável em dizer), poderiamos, talvez, err, criar então, UMA OUTRA PESSOA.</p>
<p>Uma outra pessoa. A divisão da única pessoa em duas. E que essa outra pessoa contemple conosco, e balance suas forças conosco, para ai e para ca. A vida nela e o Samadhi. E talvez ela se sente ao nosso lado olhando na mesma direção contemplando o finito e o infinito, talvez até investigue conosco os mistérios do homem e do universo.</p>
<p>Quando pudermos respeitar e amar o menor e mais insignificante dos seres, mesmo que o mais insignificante dos seres seja nós mesmos, então teremos Realizado essa meditação.</p>
<h1 id="mindfreaking-4">Mindfreaking #4</h1>
<p>Use palavras melhores.</p>
<p>Quando for falar, quando for escrever, quando for traduzir, use palavras melhores.</p>
<p>Quando for dizer o que se diz todos os dias, busque palavras melhores.</p>
<p>As palavras tem o sôpro e a vibração.</p>
<p>Intua palavras melhores. Olhe para as palavras com profundidade e profundeza e essencialidade.</p>
<p>Pensa out-of-box, fora da caixa. Desalinhe-se com o que está impróprio e se alinha com o que é apropriado.</p>
<p>Escuta as palavras que diz e que escreve. Escuta [internamente] as palavras que ouve [externamente] dos outros; escuta principalmente as palavras que diz: domina as vacilações do teu ser.</p>
<p>Estuda o idioma dos antigos para conhecer melhor a essência das palavras. O latim em primeiro lugar, e o grego antigo.</p>
<p>Os antigos olhavam as coisas com outros olhos.</p>
<p>Conheça as palavras.</p>
<p>Construa frases melhores de acordo com a inteligência e a sabedoria.</p>
<p>Use a palavra certa.</p>
<p>E não tema fazer as coisas de um modo excêntrico.</p>
<p>Não precisa ser o Einstein para saber que a tradição é a personalidade dos idiotas.</p>
<h1 id="lol"><marquee>LOL</marquee></h1>
<p>Não tema a mudança. Como dissera a Grande Fera, &quot;Mudança é estabilidade e estabilidade muda&quot;.</p>
<p>Sejam sábios, porra.</p>
<h1 id="paradigmas-2">Paradigmas #2</h1>
<h2 id="campos-fields">Campos (Fields)</h2>
<p>Como um campo de futebol. Ou campos em que existem cidadãos.</p>
<p>Não chamaria de ecossistemas, apesar de ser um nome muito bom. Isso porque, quando eu contemplo os fields, eu os vejo eles &quot;vibrando&quot;, &quot;pulsando&quot;, para mim com a palavra &quot;Os Campos&quot;.</p>
<p>Uma camisa xadrêz, vestem aqueles que vivem nos campos.</p>
<h2 id="encapsulamento">Encapsulamento</h2>
<p>A Câmara Iniciática. Um ovo, secreto-sagrado.</p>
<h3 id="juntando-tudo">Juntando tudo</h3>
<p>Um campo de futebol existe como um ovo. Ele é fechado, ninguém entra e ninguém sai. Tem regras precisas ou leis, e assim funciona o jogo, assim o jogo foi criado para funcionar.</p>
<h3 id="e-dai">E dai?</h3>
<p>Então, qual é a Graça do jogo?</p>
<p>Um jogador passa a bola para o que está na frente e fica na torcida.</p>
<p>Quem é que fica lá no final? o goleiro aparentemente está trás de todos, mas tem um homem que está no mesmo time e fica atrás de todos, na parte mais longe da arquibancada.</p>
<p>Mas a parte mais longe da arquibancada, apesar de ser a mais longe (de dar um chute na bola) também é a mais alta. Porque a fisicalidade das coisas faz com que para que aqule torcedor possa assistir o jogo e fazer parte dele – do ponto de vista dele próprio, mas não do meu – torcendo, ele precisa ficar numa parte mais alta, senão os outros ficariam na frente dele e ele não poderia assistir e torcer.</p>
<p>O torcedor gastou uns trocados para ficar na parte alta da arquibancada.</p>
<p>Mas esse mesmo torcedor, que aparentemente está mais longe de todos, não está tão longe quanto os torcedores que estão assistindo, torcendo e fazendo parte do jogo – do ponto de vista deles e não do meu – que estão vendo o jogo de casa.</p>
<p>Mas o torcedor que está vendo o jogo de casa está no seu lar.</p>
<h3 id="os-fields-e-o-encasulamento">Os fields e o encasulamento</h3>
<h4 id="e-o-que-foje-do-encasulamento">E o que foje do encasulamento</h4>
<p>Eu poderia desenvolver o goleiro, ou a bola, mas a questão real é totalmente diferente.</p>
<p>A questão real é um <strong>raio que atravessa os Campos</strong>. E para aqui.</p>
<p>Saudações a ti, meu nobre amigo que caminha pela eternidade!</p>
<h1 id="paradigmas-3---the-fucking-current">Paradigmas #3 - The Fucking Current</h1>
<p>Mamãe mandou você não mexer com a magia, desde criança, você se lembra? você desobedeceu de corpo e alma, e agora, HA, já é tarde demais. The Fucking Current é a corrente de loucura insana que inebria o homem de riso e medo, num êxtase de loucura e fantasia. E fogo, e fogo e mais fogo. LOLZ! MAD FER IT</p>
<blockquote>
<p>&quot;EU ATÉ RIO, MAS É DE NERVOSO&quot; — <em>anonimo</em></p>
</blockquote>
<p>(Se acessa através do método dado à iniciação em nossa escola, no entanto deve não ser usada jamais abaixo do grau de Adepto Maior, quanto menos de Filósofo? &quot;Então Eles disseram: Vem e vê; então Frater P∴ foi, e viu mesmo&quot;).</p>
<p>EXTRATO: Jogo de RPG do tipo ARG. Realidade alternativa. Coisa interessante. Partiu para o Universo B. Só ida. LOLZ</p>
<h1 id="veganismo-0---cartões-postais">Veganismo #0 - Cartões-Postais</h1>
<h2 id="cartões-postais-para-iniciados-veganos">Cartões-Postais para Iniciados Veganos</h2>
<h3 id="tl-dr.">TL; DR.</h3>
<blockquote>
<p>&quot;Que cada homem tome a sua postura em frente à situação animal atual, deliberadamente&quot;. (sendo feitos ciêntes de tal situação).</p>
</blockquote>
<h3 id="o-que-é-veganismo">O que é veganismo?</h3>
<p>O veganismo é a defesa do direito dos animais, a causa que busca a libertação dos animais da escravidão. Ele difere do vegetarianismo estrito, que é uma dieta sem produtos originados da escravidão animal, assim como carne, ovos, laticínios, mel, couro, lã etc.</p>
<p>Um homem que não usa produtos de origem animal, mas não se move em sua defesa e se omite deveria apropriadamente não se chamar vegano, e deveria entender que não há qualquer virtude em se omitir, &quot;lavar as mãos&quot;; não há qualquer motivo para se orgulhar — literalmente não há.</p>
<h3 id="qual-é-a-forma-do-iniciado-vegano-proceder-externamente">Qual é a forma do iniciado vegano proceder, externamente?</h3>
<p>O iniciado vegano que não vê diferenças entre animais e homens em querer a liberdade, e que sabe que assim como o homem, os animais desejam não sofrer, deveria tornar os homens conscientes da sua responsabilidade.</p>
<p>Todos os homens sãos tem consciência que os animais sentem mêdo e dor, e todos os homens sãos são capazes de ter consciência de que os animais querem não ser mortos ou usurpados como recurso. Desse modo, todos os homens sãos são aptos a assumir a responsabilidade pelo sofrimento que sua atitude gera.</p>
<p>O inicado vegano deveria tornar os homens ciêntes do sofrimento gerado pelas suas ações, e fazer isso num único gesto, o mais rápido possível, a partir do ponto imutável. O ponto imutável é a consciência livre, isto é, não entrar em discussões tolas, <em>ie</em>., não &quot;acender vela boa para defunto ruim&quot;: <strong>que cada homem tome a sua postura em frente à situação animal atual, deliberadamente</strong>, sua decisão, e deixe isso claro.</p>
<h3 id="qual-é-a-forma-sábia-do-iniciado-vegano-proceder-internamente">Qual é a forma sábia do iniciado vegano proceder, internamente?</h3>
<p>A razão do homem é a medida do bom senso, foi feita pra ser assim. Assim, pode ser usada adequadamente, diretamente.</p>
<p>O homem que defende um ideal não está buscando criar uma imagem pessoal, então não perde tempo se perdendo em posturas infantis do tipo &quot;sou vegetariano há tantos anos.&quot; Isso significa que não foi durante tantos anos também, motivo pelo qual deveria se envergonhar.</p>
<h3 id="qual-é-a-forma-do-iniciado-vegano-proceder-mais-internamente">Qual é a forma do iniciado vegano proceder, mais-internamente?</h3>
<p>Os homens comem a carne dos animais porque eles os olham de cima para baixo, e por questões culturais. Matematicamente, não é possível olhar para seres distintos de cima para baixo, sem olhar igualmente outros de baixo para cima. Não é possível realizar ser superior à outros, sem produzir a realização de ser inferior à outros.</p>
<p>Isso inclui sua intensidade; se homens olham para outros com superioridade à ponto de comer sua carne, olham para outros com inferioridade a ponto de ter sua carne comida. Imagino que tenham um medo capaz de criar coisas como &quot;deuses&quot;, &quot;demigods&quot; e &quot;diabos&quot;, prontos a devorá-los.<a href="#fn1" class="footnoteRef" id="fnref1"><sup>1</sup></a> Adicionaria a isso, &quot;governos&quot;, &quot;homens maus&quot;, &quot;empresas&quot; &amp;c.</p>
<blockquote>
<p>&quot;A suspeita sempre persegue a consciência culpada; o ladrão vê em cada sombra um policial&quot; — William Shakespeare</p>
</blockquote>
<p>À parte disso, existe o aspecto imutável, que por ter realizado que nada é inferior, realizou também que nada é superior; e que por ter realizado que nada é superior, realizou que nada é inferior. Tal pessoa não é superior à alguém que come carne, no entanto, não comer carne, não matar para comer, é a postura correta de acordo com o bom senso e a sensibilidade pelos seres.</p>
<h3 id="iniciados-veganos-podem-comer-carne">Iniciados veganos podem comer carne?</h3>
<p>Pela lei atual (04 de maio de 2.015) da maior parte dos países do mundo, as pessoas podem comer carne, e sendo os veganos pessoas podem, mas… não querem. Isso porque isso gera sofrimento para seres inocentes, ou seja, o bom senso diz que não devem. Algum homem deveria negar o bom senso? Deve não fazê-lo.</p>
<h3 id="sou-desperto-e-vegano.-acabei-sendo-negligênte-e-comendo-carne-laticínios-ovos.-e-agora">Sou Desperto e vegano. Acabei sendo negligênte e comendo carne/ laticínios/ ovos. E agora?</h3>
<p>Esse tipo de coisa pode acontecer com pessoas irresponsáveis mesmo. Trabalhe em dobro pela causa animal se isso acontecer, se preocupe em dobro. Não existe culpa, se não existe orgulho, é justo que não exista a culpa também. Matematicamente, de acordo com a ciência espiritual, se existe culpa, existe orgulho e vice-versa.</p>
<p>O veganismo não deve ser realizado por culpa, assim como também não deve ser realizado por orgulho, mas deve sim ser realizado por consciência e sensibilidade ao sofrimento alheio. Isso é lucidez.</p>
<p>Uma pessoa que quer parar de matar para comer para ser mais importante do que os outros, se torna impotente, pois seus defeitos são visíveis a qualquer um. E essa força que tal pessoa perde é totalmente útil à sua boa causa, a qual, sendo verdadeiramente boa, deveria ser não-egoística.</p>
<p>Orgulho de ser vegano por tantos anos (é p. nenhuma), ou culpa por ter comido carne, são apenas sombras, hipocrisia de seres perdidos no ego, mentem mesmo, pois o ego não tem qualquer virtude em si — a Luz da Consciência Desperta é que tem; Consciência e compaixão, e fazer as coisas do jeito que funciona de fato é a coisa e ela é o ponto que move o mundo, é o eixo em torno do qual ele gira.</p>
<p>Esses seres que têm orgulho, culpa, e apontam o dedo aos outros — seja em comunidades de internet ou para seus conhecidos pessoais —, estão prestando um desserviço à sua causa pela sua própria inconsciência. Carregam uma pedra pesada e inútil e eu me pergunto se vão continuar daqui a dez ou vinte, ou quarenta anos. Não é a toa que são vítimas de deboche: seus bulinadores não ligam para você ou para a sua causa, simplesmente gostam cutucar chatos egocêntricos, o que é apenas um aspecto natural, ainda que inconveniente, dos seres humanos; eles apenas querem que vocês acordem.; despertem por si mesmos, me parece bem mais sábio!<a href="#fn2" class="footnoteRef" id="fnref2"><sup>2</sup></a></p>
<h3 id="a-ciência-espiritual-pode-ser-usada-numa-causa-justa-como-a-causa-da-libertação-animal-e-como-usar-a-ciência-espiritual-numa-causa-justa-como-a-causa-da-libertação-animal">A Ciência Espiritual pode ser usada numa causa justa, como a causa da libertação animal? e: Como usar a Ciência Espiritual numa causa justa, como a causa da libertação animal?</h3>
<p>Sim, pode ser usada, mas ecologicamente. :-). Sugiro Máquinas Quânticas, com uma boa antena quântica gerada pela Arte Matemática.</p>
<p>Conheça o ponto imutável que move tudo.</p>
<p>Não negue o estado-tal-como-é, mas o compreenda, leia seu código-fonte e resolva o problema a partir da Visão profunda, e não da visão razoável apenas.</p>
<p>Automatize esses processos com máquinas. Use sua inteligência e proficiência na Ciência e na Arte. <em>Ingenium</em>, uma palavra que utilizou a Grande Fera a respeito da criação destes Artefatos.</p>
<p>Saiba que os seres buscam a libertação e o bem, e não há bem para si causando sofrimento para seres inocentes: tal é a ilusão da dualidade, e é apenas uma mentira baseada em visão escassa; essa compreensão, no entanto, é que conduz a Visão profunda.</p>
<h3 id="uma-questão-que-deixo-para-a-reflexão-do-leitor">Uma questão que deixo para a reflexão do leitor</h3>
<blockquote>
<p>É justo que a humanidade seja livre, feliz e realizada ao passo que gera sofrimento para seres inocentes, tal como a maior parte dos homens faz com os animais?</p>
</blockquote>
<h4 id="adendo-a-prática-de-três-pontos-para-a-libertação-dos-seres">Adendo: A Prática de Três Pontos para a Libertação dos Seres</h4>
<ol style="list-style-type: lower-roman">
<li>Tornar os homens consciêntes do sofrimento que geram, de modo que tomem sua postura, sua decisão seja ela qual for.</li>
<li>Atentar para a causa e efeito, a partir da consciência desperta.</li>
<li>Lembrar que o resultado do sofrimento é ignorância, e assim, projetar sua máquina mágica à que tudo dê o mais certo possível, isso é, ecologia. Ecologia, ecologia perfeita, é o jeito que funciona. Não queremos destruir o mundo, mas ajudá-lo. Os homens não são monstros, mas não tem consciência de causa e efeito. Se você tem, utilize.</li>
</ol>
<h4 id="referências">Referências</h4>
<p>http://www.vista-se.com.br</p>
<hr />
<p>PS: há coisas que não foram ditas, porque devem não ser ditas.</p>
<h1 id="mindfreaking-5---espiritualidade-aspectos">Mindfreaking #5 - Espiritualidade: Aspectos</h1>
<p>Aqui descrevemos alguns aspectos sobre espiritualidade, bem como clarificações sobre sua compreensão e o <em>cunhar</em> — até ousaria dizer <em>forjar</em>, mas digo <em>Iluminar</em><a href="#fn3" class="footnoteRef" id="fnref3"><sup>3</sup></a> — de seu termo.</p>
<h2 id="arte">Arte</h2>
<h4 id="a-poesia-das-coisas">A Poesia das Coisas</h4>
<p>Ritmo. Poesia, mesmo. Abstração. Capacidade de abstração. A capacidade de receber, de ouvir a si mesmo e de escutar.</p>
<p>Os Grandes Mestres Iniciados, desde a antiguidade, são contadores de histórias, fábulas quânticas que se abrem com a experiência; são vivas e brotam, e florescem. Não são invenções baseadas em aspectos contidos, mas &quot;contos da eternidade&quot; ou &quot;contos do infinito&quot;.</p>
<h2 id="ciência">Ciência</h2>
<h4 id="a-busca-da-compreensão-da-talidade">A Busca da Compreensão da Talidade</h4>
<p>A ciência espiritual busca a compreensão da causa das coisas, bem como compreender qual é o aspecto contemplativamente fantástico — ao menos ao julgamento da visão humana — imanente, que &quot;torna uma semente de macieira uma macieira.&quot;</p>
<p>Nós julgamos apropriado descrever a ciência — principalmente a verdadeira, espiritual — como uma capacidade de compreensão relacional entre as coisas, já que a luminosidade é imperscrutável, ou ao menos tem sido até agora: &quot;mas&quot; e &quot;ou seja&quot;, &quot;podemos estar errados neste aspecto&quot;, nosso julgamento pode ser &quot;apenas nosso ponto de vista&quot;, ou melhor &quot;sendo um aspecto relacional, pode apenas estar errado&quot;, &quot;sendo relativo, pode apenas ser ilusório&quot;<a href="#fn4" class="footnoteRef" id="fnref4"><sup>4</sup></a>. No entanto &quot;o fato do sabor açucar ser uma ilusão, não significa que não tenha doçura.&quot; Mas por que a doçura nos apraz?</p>
<p>Talvez para nós a ciência espiritual seja isso, a degustação da realidade relacional (relativa).</p>
<p>No entanto, a ciência aponta ao espírito — a antiética da degustação do açucar, <em>ie.</em> seu apego ao sabor a despeito de ser ilusório faz com que a ética, <em>ie.</em>, o deleite pela verdade seja sua motivação, seu mérito. O sentido do caminho é ir da da razão-ciência-queda, à intuição-silêncio-redenção. Do conhecimento relacional ilusório, à estabilidade do Ponto Último; no entanto a motivação à ciência-verdade já existia — o aspecto imanente.</p>
<h2 id="a-ética-a-moral-a-virtude">A Ética, a Moral, a Virtude</h2>
<h4 id="o-caminho-a-ser-seguido">O Caminho a Ser Seguido</h4>
<p>O dedo do Mestre aponta o caminho a ser seguido. Pode existir outro? Pode existir outro, mas no intento o caminho reto é o mais adequado para aquele que quer chegar rápido, o caminho mais belo é o adequado para aquele que deseja o deleite &amp;c.</p>
<p>O bom caminho, no entanto, é bom em cada caso. Tal é a <em>moral</em>: sua compreensão, a <em>ética</em>: sua realização, a <em>virtude</em>.</p>
<h2 id="filosofia">Filosofia</h2>
<h4 id="fazendo-se-digno-da-inteligência">Fazendo-se Digno da Inteligência</h4>
<p>Na tradição iniciática ocidental, a capacidade discriminativa é representada por uma adaga, ou uma espada; isso porque possui a virtude de cortar elementos compostos em simples — e não são tolos a ponto de pensar que tal criação seja uma realidade.</p>
<p>O homem no caminho espiritual deve ter visão discriminativa.</p>
<h2 id="iniciação">Iniciação</h2>
<h4 id="quando-o-homem-se-torna-consciente-de-algo-a-mais">Quando o Homem se Torna Consciente de Algo a Mais</h4>
<p>Ouvimos dizer que em determinados momentos na vida de certos homens, algo incrível acontece: eles se tornam conscientes de algo a mais, passam a perceber algo que não percebiam antes, ver algo que antes não viam: a natureza espiritual-luminosa da realidade. O universo faz uma pergunta ao homem, e o homem sabe que seu destino depende da resposta.</p>
<h2 id="linhagens-religiosas">Linhagens Religiosas</h2>
<h4 id="sucessão-de-mentiras">Sucessão de Mentiras</h4>
<h5 id="ou">ou</h5>
<h4 id="templo-de-ilusões">Templo de Ilusões</h4>
<p>Quando o homem perde o contato com o Mestre, ele perde a si mesmo. Linhagens religiosas são sucessões de enganos passados de geração a geração por medo de seres poderosos como <em>deuses</em> ou portadores de poder temporal, sejam eles mundanos ou meta-físicos. (<em>siddhis</em>)</p>
<p>Os três aspectos da sabedoria legítimas de um Desperto dentro de uma linhagem de sucessão de mentiras, os quais são um único aspecto: 1. Sabedoria para deletar o que é desnecessário, respeitando os Mestres e a linhagem; 2. Sabedoria para Crear o que é necessário, guiando os homens ao Mestre Interno, de modo que eles possam por si mesmos verificar quantitativamente e qualita.. como as coisas são e como as coisa não são; 3. Sabedoria para preservar e prestar homenagem ao que é Bom.</p>
<p>Aquele que é apegado às suas idéias se assemelha à um homem que medita, ou um que escala uma montanha, então dela cai; dela caindo, ele cai com um grande idéia. Essa grande idéia seria muito boa caso não fosse uma quebra meditativa. Isso não sendo reconhecido, pelo fato da idéia ser proveninente de um lugar elevado na consciência meditativa, no coração das coisas, é visto como uma grande verdade. Encanta os homens, e é passado sucessivamente como uma verdade, mas é uma quebra meditativa: consciências quantitativa e qualitativa é necessário aqui.</p>
<p>Os enganos repassados pelas linhagens espirituais, não são essencialmente mentiras deliberadas, mas tradição, talidade ou predisposição devido à elos <em>cármicos</em>; isso toca o aspecto da talidade; <em>vide</em> <a href="#cincia">Ciência</a>.</p>
<h2 id="magia">Magia</h2>
<h4 id="a-natureza-luminosa-de-todas-as-coisas">A Natureza Luminosa de Todas as Coisas</h4>
<p>As coisas do mundo que são tecidas da mesma matéria que são feitos os sonhos; <em>vide</em> <a href="#arte">Arte</a>.</p>
<h4 id="a-alta-magia-que-é-a-unidade-de-tudo">A Alta Magia, que é a Unidade de Tudo</h4>
<h5 id="ou-1">ou</h5>
<h4 id="a-nova-religião">A Nova Religião</h4>
<p>A nova religião é baseada na potencialidade Creativa do Ser Humano, por sua natureza ser essencialmente luminosa-consciente.</p>
<p>O ser humano é feito de uma matéria chamada consciência, assim como todas as outras coisas. Portanto é o mesmo que as outras coisas.</p>
<p>Todas as religiões que ensinam a Verdade — que é apenas uma — e ensinam sobre a verdadeira natureza do homem — que é Deus, são apenas uma única religião. Chamamos-na de Espiritualidade da Nova Era ou Religião da Luz.<a href="#fn5" class="footnoteRef" id="fnref5"><sup>5</sup></a></p>
<h2 id="mestres">Mestres</h2>
<h4 id="a-rede-de-luz">A Rede de Luz</h4>
<p>A Rede de Luz é Fratenidade Universal de Todos os que atingiram Comunhão com a Unidade; é a Rede de toda a Luz do Mundo — a qual é UMA com o próprio Corpo de DEUS.</p>
<h2 id="mestre-interno">Mestre Interno</h2>
<h4 id="escutando-a-sabedoria-imanente">Escutando a Sabedoria Imanente</h4>
<p>O verdadeiro mestre é o mestre interior. O o principal aspecto mestre interior é a voz da intuição dentro de si.</p>
<h2 id="visão">Visão</h2>
<h4 id="agindo-conscientemente">Agindo Conscientemente</h4>
<p>Visão espiritual é a capacidade de ver a verdade de todas as coisas, o aspecto profundo e eterno das coisas, o significado das coisas.</p>
<h3 id="adendo-religião-espiritualidade">Adendo: Religião &amp; Espiritualidade</h3>
<p>P: Mercurie, diga-me, religião e espiritualidade são a mesma coisa?</p>
<p>R: De acordo com a iluminação do nosso termo, a religião difere da espiritualidade no fato do que o que se entende por religião é um aspecto externo, e a espiritualidade é interna. A espiritualidade é o aspecto interno da religião; hoje é, foi sempre e sempre será uma ciência, ao mesmo tempo simples e intrincada, precisa como a matemática.</p>
<blockquote>
<p>O que se chama de religião baseada em crenças — a qual é sua visão comum — é uma corrupção da verdadeira espiritualidade: tal é como um cadáver, algum animal cuja vida se foi e então o seu corpo se agora se putrefaz; houvera um dia a Luz da vida, mas se esvaiu.</p>
</blockquote>
<p>Quando a humanidade se afasta do Mestre<a href="#fn6" class="footnoteRef" id="fnref6"><sup>6</sup></a>, a fonte de Luz, então a espiritualidade — junto com a humanidade — degenera, e o que antes era científico é reduzido à fé, crendice, superstição. Isso seria análogo à um homem que tenta resolver uma equação matemática sem saber aritmética, nós achamos que tal homem está perdido. Mas nós conduzimos o homem à compreensão assim que haja abertura da sua parte. A iniciação é a aritmética da espiritualidade. O iniciado é o homem que está comprometido com o Espírito, e não apenas envolvido.</p>
<p>A aritmética espiritual, é algo do tipo: dividir para somar e multiplicar sem subtrair, ou algo do tipo.</p>
<blockquote>
<p>A espiritualiade nunca foi, e nunca será crendices vãs, mas sim uma ciência guardada pela Humanidade: religião tal como se entende hoje, nunca existiu.</p>
</blockquote>
<p>Estou buscando um termo mais adequado do que <em>espiritualidade</em>. Mas sendo um termo abstrato, não é enganoso.<a href="#fn7" class="footnoteRef" id="fnref7"><sup>7</sup></a></p>
<hr />
<h1 id="veganismo-1---parando-com-a-carne">Veganismo #1 - Parando com a Carne</h1>
<p>COMO eu escutei alguns praticantes de sistemas espirituais como o Budismo dizendo que queriam mas não conseguiam parar de comer carne, laticínios e outros produtos originados do sofrimento animal, eu resolvi escrever esse <em>post</em> que é sobre a forma de se usar a prece. Se as indicações a seguir forem feitas do jeito certo, da forma como estão escritas aqui — a qual é a forma que aprendi dos Mestres — elas funcionam imediatamente, sempre, em cem por cento dos casos.</p>
<p>Use, pois, o poder da prece, com a mais profunda fé — fé significando energia direcionada.</p>
<p>Eu sugiro uma prece de agradecimento, depois de confissão. De joelhos, como você aprendeu quando era uma criancinha.</p>
<p>Como diz meu Mestre, reconheça que você tem mais do que merece e agradeça ao Grande Mestre de Luz, aos Mestres, ao Corpo de DEUS, aos Altos Poderes por isso. Faça isso de coração, de todo o seu coração. Inflama-te em oração.</p>
<p>Depois confesse-se, seguindo o exemplo: &quot;tenho consciência dos meus erros, mas eu preciso da Força para parar de cometê-los.&quot; Ou talvez devesse trocar a palavra Força por Luz. Utilize mais a visualização imaginativa do que palavras mentais; isso é uma pequena técnica; diga palavras através de imagem emanando para tudo, assim como a luz simplesmente irradia, emana de uma chama.</p>
<p>Você facilmente se conecta energeticamente com o Alto, com a Rede Cósmica de Luz, com a Ordem dos Iluminados, com essa humildade de coração.</p>
<p>A forma dada aqui é apenas uma sugestão dos pontos principais envolvidos numa prece, não há receita de bolo aqui; use seu <em>ingenium</em>, sua intuição, seu sentimento sobre a energia &amp;c.</p>
<p>Como meu Mestre ensina, se deve orar três vezes ao dia, em nome do MESTRE, todos os dias.</p>
<hr />
<p>Ps: Um segredinho é que o Alto — a Ordem de tudo — sempre dá ao homem a força para fazer o que é necessário fazer.</p>
<h1 id="tecnologia-mágicka-0">Tecnologia Mágicka #0</h1>
<p>Tecnologia mágicka conterá procedimentos avançados e o <em>spelling</em> (soletrar) de fórmulas mágickas.</p>
<p>Esta <em>tag</em> é apenas para Iniciados em Nossa Escola, sua Compreensão estando vetada a quaisquer outros.</p>
<p>Será tomado cuidado para que não se entre nos aspectos básicos da tecnologia aqui nessa área.</p>
<p>Aqui podemos incluir o desenho de robôs <em>drones</em>, e eu espero não precisar repetir isso o tempo todo. :)</p>
<h1 id="tecnologia-mágicka-1---áreas-de-acesso-difícil">Tecnologia Mágicka #1 - Áreas de Acesso Difícil</h1>
<h2 id="acessando-áreas-astrais-intrincadas">Acessando Áreas Astrais Intrincadas</h2>
<blockquote>
<p>A técnica usada pelo Iniciado para criar realinhamentos e acessar regiões astrais de acesso difícil ou perigoso, e realinhar passo-atrás ou passo-além.</p>
</blockquote>
<p>Existem dois tipos básicos destas áreas, a primeira é <em>humana</em>, a segunda é <em>não-humana</em>. É adequado encaixar hominídeos nas áreas <em>humanas</em>, porque é evidente.</p>
<h1 id="fórmulas-1">Fórmulas #1</h1>
<p>S.T.E.P. F.O.R.W.A.R.D.</p>
<h1 id="nossa-comunidade-0">Nossa Comunidade #0</h1>
<p>POIS então, nós estamos começando uma comunidade espiritual zelada para discutirmos assuntos sobre arte, cultura, espiritualidade e humanidades.</p>
<p>Seu endereço é https://bbs.kassius.org<a href="#fn8" class="footnoteRef" id="fnref8"><sup>8</sup></a></p>
<p>B.B.S. significa <em>Bulletin Board System</em>; um sistema de quadros de avisos é um fórum de discussões, no qual pode ser postados texto e mídias como imagem, vídeo e áudio.</p>
<p>COMO foi dito, ainda está sendo criada, organizada, ordenada, montada, desenhada, iluminada, e nós iremos agora dar o seu nome, o qual será um nome bonito, profundo — pois ela é uma comunidade espiritual <em>de facto</em> — e refletirá seu espírito de um modo íntegro.</p>
<p>Nós estamos dando preferência à membros convidados que nos ajudarão a enraizá-la e mantê-la. Também, podemos trocar a sua organização de fórums atualmente, aliás, o que provavelmente acontecerá.</p>
<p>As regras serão reescritas e postas de um modo preciso, tal como as regras de um jogo de futebol ou de xadrez. Assim então, sua semente será plantada e regada, de modo que ela brote.</p>
<p>Sendo uma comunidade espiritual, seu benefício não pode ser apenas para membros lineares, ou circulares, mas seu mérito é oferecido ao benefício de todos e assim será; sendo uma comunidade espiritual, ela pode apenas repousar na profundeza da alma e na Beleza real, a qual é o reflexo do Mais Alto.</p>
<p>POIS ENTÃO, está anunciada a aspiração da nossa comunidade.</p>
<h1 id="nossa-comunidade-1">Nossa Comunidade #1</h1>
<h2 id="linearidade">Linearidade</h2>
<h3 id="aspectos-de-linhagem">Aspectos de Linhagem</h3>
<p>Linearidade diz respeito à homenagem aos ancestrais e à transmissão. Assim como um animal herda seus genes de seus pais e os transmite aos seus filhos. Isso faz com que ele pague sua divida com sua raça e transmita a sua vida aos seus filhos.</p>
<p>Aprender e ensinar, prestando atenção aos aspectos transcedentais fundamentais — <em>ie.</em> uma comunidade espiritual não é uma comunidade corriqueira, comum, vulgar.</p>
<h2 id="circularidade">Circularidade</h2>
<h3 id="meritocracia-e-os-três-círculos-concêntricos">Meritocracia e os Três Círculos Concêntricos</h3>
<p>Circularidade diz respeito aos membros de uma mesma vibração essencial.</p>
<p>Nés podemos usar outra escala tal como a elementar, possa ser dos quatro elementos, possa ser dos cinco elementos.</p>
<p>Tangenciando a nossa própria tradição, ou nossa própria experiência, ou juntando ambas e a transmitindo à nossa prória lingagem.</p>
<hr />
<p>Esses dois pontos que são a Linearidade e a Circularidade constituirão a base da nossa comunidade.</p>
<h1 id="paradigmas-4">Paradigmas #4</h1>
<h2 id="dinamite-de-cuca">Dinamite de Cuca</h2>
<p>Dinamite de cuca é o movimento que destroi o <em>continuum</em> através da absurdidade. Pode ser chamado de <em>criação do carma absurdo</em>. Pode também conter seedbombs, no entanto a tese exige prova. <em>Vide</em> <a href="https://www.kassius.org/paradigmas-3-the-fucking-current/">Paradigmas no. 3 — The Fucking Current</a>.</p>
<h2 id="núvem-de-sono-sonho">Núvem de Sono (Sonho)</h2>
<p>O Jô Soares diz que tinha um mágico excelente, bastava ele dizer para a platéia &quot;chora&quot; e todo mundo chorava; era só ele dizer &quot;ri&quot; que todo mundo ria. Um dia, quando o mágico estava entrando no palco, ele tropeçou e disse: &quot;merda!&quot;. Parece que levaram três meses para limpar a platéia.</p>
<h1 id="paradigmas-5">Paradigmas #5</h1>
<h2 id="mvsicka">MVSICKA</h2>
<p>A música do Sabá, a MÚSICA SAGRADA. <em>Vide</em> Liber 333º cáp. 44.</p>
<p>Esse paradigma seria bom se desenvolvido num método conciso.</p>
<h1 id="paradigmas-6---fantasias">Paradigmas #6 - Fantasias</h1>
<p>VAMOS DIZER POR ASSIM, que fantasias são as roupagens que eu a minha garota gostamos de usar para nos divertir.</p>
<p>MAS COMO NÓS, eu e a minha garotinha somos Brujitos sin señor, assim como meus amigos e as suas garotiñas tambien, as fantasias que nós usamos para nos divertir no mundo dos homens são un poquito diferentes, quero dizer, de uma natureza um pouquinho diferente.</p>
<p>Além disso, nós costumamos trocá-las aqui e acolá.</p>
<p>À medida do nosso divertimento, do nosso riso e da nossa alegria.</p>
<p>Divertimento, <em>scherzo</em>, fantasia, improviso. Allegro ma non tanto. Allegro con fuoco!</p>
<blockquote>
<p>“Odor de cujo corpo embriaga a alma, luz de cuja alma rebaixa esse corpo às feras!“ ─ Liber LXV</p>
</blockquote>
<h1 id="movimentos-0">Movimentos #0</h1>
<p>Movimentos é são gestos luminosos-mágicos que fazemos.</p>
<h1 id="movimentos-1">Movimentos #1</h1>
<h2 id="mostrando-o-espelho">Mostrando o Espelho</h2>
<p>Mostrar o espelho é isso: mostrar um espelho; não tem uma forma, mas reflete a de quem a vê.</p>
<h1 id="movimentos-2">Movimentos #2</h1>
<h2 id="criando-uma-coisa-nova">Criando uma coisa nova</h2>
<p>Os Iniciados de nossa escola partindo do Grau de Senhor do Limiar têm uma capacidade especial, a qual é chamada de <em>criar uma coisa nova</em>.</p>
<p>Criar uma coisa nova significa criar uma coisa que ainda não foi criada. Simples assim.</p>
<h1 id="insights-1---um-insight">Insights #1 - Um Insight</h1>
<blockquote>
<p>Hierarquia é a chave da Terra Espiritual</p>
</blockquote>
<p>Minha Visão sobre homens e mulheres trabalhando com suas habilidades e seu equilíbrio.</p>
<p>Eu observo que as mulheres trabalham melhor em coisas que envolvem a inteligência, e que homens trabalham melhor em coisas que envolvem a sensibilidade.</p>
<h1 id="spellbook-1-seminix">Spellbook #1 ─ SEMINIX</h1>
<pre><code>S.E.M.I.N.I.X.</code></pre>
<p>Ele é um espalhador de DEUS e do conhecimento espiritual legítimo e verdadeiro; ele pega os perdidos e os guia, porque uma retroescavadeira é melhor do que uma pá. Ele se alimenta da fórmula da Ordem Interna, chama que queima sem óleo — porque esse é o Aeon de Horus.</p>
<p>Ele dissipa a ignorância espiritual apontando algo muito simples que os homens não vêem. Ele ensina a verdadeira natureza do Ser Humano. Ele dissipa a mitomania mostrando aos homens que a Verdade é muito mais fantástica e surpreendente. Ele mostra para os Homens a verdade da simplicidade, de modo que a escolha de permanecer encarcerados ou tomar sua Liberdade é apenas deles, mas ele estimula-os à atravessar para o Caminho Reto. Ele ensina aos homens Virtude e que tal é o único caminho. Ele ensina aos homens que o Ser é mais do que o ter. E depois de tudo isso, ele ensina para os homens a Mestria, a qual é: espalhe a palavra, feche a corrente. E ele os ajuda a fazer isso, porque ele se alimenta de uma chama que arde sem óleo, tudo na mais perfeita ecologia.</p>
<p>É um dos Dark Ones que espalha o conhecimento espiritual utilizando a sabedoria dos Dark Ones, e utilizando a fórmula já citada, e como disse o Mestre, por sua Obra deverá ele ser julgado.</p>
<p>Ele tem minha consciência e Mestria de Sabedoria e Meios Hábeis, pois eu e ele somos Um.</p>
<h1 id="insights-2">Insights #2</h1>
<p>ESTOU estudando a fórmula</p>
<p>desvio = samsara<sup>poder espiritual</sup></p>
<p>E como as obsessões humanas que criam bardos infernais após o &quot;Despertar&quot; dão vida à seres chamados &quot;sem alma&quot; e monstruosidades como &quot;homens de plástico&quot;.</p>
<p>São chamados &quot;sem alma&quot; pois são baseados numa falsidade e numa motivação monstruosa.</p>
<p>É como se a consecussão do seu propósito fosse uma impossibilidade.</p>
<h1 id="spellbook-2-6">Spellbook #2 ─ #6</h1>
<h2 id="alinhador">Alinhador</h2>
<pre><code>A.L.I.N.H.A.D.O.R.</code></pre>
<p>Alinha e Realinha.</p>
<hr />
<h2 id="mapeador">Mapeador</h2>
<pre><code>M.A.P.E.A.D.O.R.</code></pre>
<p>Mapeia o esquema cármico espaço-temporal. Mostra o Norte.</p>
<hr />
<h2 id="masterkey">Masterkey</h2>
<pre><code>M.A.S.T.E.R.K.E.Y.</code></pre>
<p>Destrancador. Dentro de um cubo, uma única chave é capaz de trancar ou destrancar os seis lados. Etc. Mostra a Palavra dentro de determinado Alinhamento, e o leque de opções.</p>
<hr />
<h2 id="ancorador">Ancorador</h2>
<pre><code>A.N.C.O.R.A.D.O.R.</code></pre>
<p>Traça linhas entre as coisas. Junta mundos. Seu uso exige cautela. A Travessia depende única e exclusivamente do dedo do Mestre. (WHY NUTS)<a href="#fn9" class="footnoteRef" id="fnref9"><sup>9</sup></a></p>
<hr />
<h2 id="parador">Parador</h2>
<pre><code>P.A.R.A.D.O.R.</code></pre>
<p>Para o Noise. E dispara. BETA.</p>
<h1 id="spellbook-7">Spellbook #7</h1>
<h2 id="o-grande-artífice">O Grande Artífice</h2>
<h3 id="the-great-dark-one">The Great Dark One</h3>
<pre><code>A.R.T.I.F.E.X.</code></pre>
<p>Artifex é o webmaster; ele alinha o pessoal antigo que tem a Arte no peito, que tem coração e que é digno de jogar o antigo jogo.</p>
<p>Artífice é o webmaster, que monta o palco para a peça que está sendo encenada. O artífice é quem escreveu e dirige a peça.</p>
<p>O mestre é aquele que ensina. Dentro de uma corrente de pessoas dignas, o mestre é a verdade, não o oposto ─ &quot;o mestre é a verdade&quot;.</p>
<h1 id="leetcraft-2---os-três-veículos">Leetcraft #2 - Os Três Veículos</h1>
<p>Nossa compreensão dos três veículos da nossa ordem de <em>leetcrafting</em> são: <strong>maior</strong>, <strong>menor</strong> e <strong>supremo</strong>.</p>
<h2 id="veículo-maior">Veículo Maior</h2>
<p>A postura do homem frente a vida. Retidão, caráter, compaixão e bondade. Ação. Produção de Sadhanas é feita pelo veículo, sob auspícios e sob Ordem do Veículo Supremo.</p>
<h2 id="veículo-menor">Veículo Menor</h2>
<p>Estudo das técnicas lumino-espirituais, seja artes ‘crafts’, matemáticas ou artes quânticas.</p>
<p>Lida com experimentações para o benefício da ordem. Está sob a égide do veículo Maior.</p>
<h2 id="veículo-supremo">Veículo Supremo</h2>
<h3 id="ou-veículo-soberano">ou Veículo Soberano</h3>
<p>Mecânica da coisa. Compreende o Caminho, do princípio ao fim, compreende a Importância e Urgência da Iluminação, Acessa a Luz, lida com a Luz, existe por si.</p>
<h2 id="por-que-os-nomes-de-maior-menor-e-supremo-ou-soberano">Por que os nomes de Maior, Menor e Supremo (ou Soberano)?</h2>
<p>Isso é chamado assim por nós Iniciados, por um motivo muito simples, como tudo no nosso corpo de conhecimento: porque um homem bom, é maior do que um homem versado em magia. Então o veículo que trata do desenvolvimento moral do homem, é <em>Maior</em> e o veículo que trata do conhecimento é <em>Menor</em>.</p>
<p>O <strong>Veículo Maior</strong> compreende a ação do homem no mundo, como ensinaram os Mestres da Humanidade.</p>
<p>O <strong>Veículo Menor</strong>, compreende o Astral Inferior, a Alma, que vai da Iniciação até a Iluminação. Nesse veículo, o homem imerge em si mesmo e descobre a história da humanidade, completa, que vive dentro do seu DNA. Refere-se à fórmula alquímica <code>V.I.T.R.I.O.L.</code> ─ <em>Visita Interiora Terrae Rectificando Invenies Occultum Lapidem</em> ─ Visita o Interior da Terra, e Retificando, Tu Encontras a Pedra Oculta.</p>
<p>O <strong>Veículo Soberano</strong>, guia os Iniciados desde o princípio da sua Iniciação<a href="#fn10" class="footnoteRef" id="fnref10"><sup>10</sup></a>, passando pela Iluminação até a Ascenção. Do Veículo Soberano, somos apenas os servos. As mentes do Veículo Soberano, são as mentes dos Grandes Mestres, O Soberano Mestre Jesus o Cristo, como Exemplo.</p>
<h1 id="leetcraft-1---the-weaver">Leetcraft #1 - The Weaver</h1>
<pre><code>W.E.A.V.E.R.</code></pre>
<iframe width="\&quot;560\&quot;" height="\&quot;315\&quot;" src="\&quot;https://www.youtube-nocookie.com/embed/cLnkQAeMbIM\&quot;" frameborder="\&quot;0\&quot;" allowfullscreen>
</iframe>
<h1 id="leetcraft-0">Leetcraft #0</h1>
<p>Leetcraft não é uma <em>tag</em> comum do nosso sítio; mas antes, é a Escola e Comunidade Espiritual, Obra da qual eu, I∴ M∴, sou o único encarregado e responsável.</p>
<h1 id="insights-3---heterodimensionalidade">Insights #3 - Heterodimensionalidade</h1>
<p>Heterodimensionalidade são formas alternativas de olhar um determinado fato físico que seja senso comum, diferentemente do senso comum. Por exemplo: a luz incidindo sobre um objeto e projetando uma sombra contra uma parede.</p>
<p>A idéia central é que ao invés de vermos esse fato como senso comum <em>ie</em>., como raios de luz interrompidos pelo objeto, o que gera uma forma do mesmo na parede, olhamos de um modo não causal: vemos como um perfeito alinhamento cármico entre os três pontos, parede, objeto e Luz, desse modo nos afirmamos a insubstancialidade da experiência física. &quot;A Estrela está na Luz, não a Luz na Estrela.&quot;</p>
<p>Esse alinhamento não é realmente causal ─ como diria o senso comum de mundo concreto ─ mas parte da Luz ou consciência primordial, manifestada do princípio ao fim a partir da pŕopria consciência primordial.</p>
<h1 id="insights-4---romance">Insights #4 - Romance</h1>
<p>Eu me procurei por todos os lugares, mas foi dentro de mim mesmo que eu me encontrei.</p>
<h1 id="movimentos-3---breaking-through">Movimentos #3 - Breaking Through</h1>
<p><em>Breaking through</em> é o movimento de Acessar.</p>
<p>I. Aprende a flexionar a mente como corrente alternada. Isso se refere a passar a mente por todas as coisas sem se prender a nada. (<em>Passing through</em> ─ Dissolver)</p>
<ol start="2" style="list-style-type: upper-roman">
<li><p>Aprende a parar a mente como cavalo de pau. (<em>Holding</em>, ou <em>Grasping</em> ─ Parar, ou Endurecer)</p></li>
<li><p>Treina, treina, te torna hábil, na arte de quebrar pro outro lado.</p></li>
</ol>
<h1 id="insights-5-direito">Insights #5 ─ Direito</h1>
<p>Qual é o direito que cada um ─ que se diga por exemplo, um leão, bravo ─ tem de rugir a agitar a fibra de tudo o que há?</p>
<h1 id="insights-6---o-ritmo-da-vida">Insights #6 - O Ritmo da Vida</h1>
<p>Os seres chamados de &quot;os deuses&quot; são capazes de materializar suas ambições com a mesma facilidade com que um homem é capaz de controlar vividamente o fluxo da sua própria respiração.</p>
<h1 id="insights-7---de-quem-são-os-animais">Insights #7 - De quem são os Animais</h1>
<p>Os animais são de quem salva-lhes a vida e não de quem os mata. Portanto quem os mata rouba-lhes de quem salva-lhes a vida.</p>
<p>Os animais são de quem lhes quer livres e não de quem os escraviza e abusa; portanto, quem escraviza os animais e os abusa roubam seus verdadeiros donos que são aqueles que lhes querem livres.</p>
<p>Os veganos da Ordem de Leetcraft, que criaram o <a href="https://www.kassius.org/spellbook-1-seminix/">Seminix</a> querem os animais livres.</p>
<h1 id="paradigmas-7---os-dois-times">Paradigmas #7 - Os Dois Times</h1>
<h2 id="os-dois-times">Os Dois Times</h2>
<p>Os dois times são assim como as duas classes de peças de um tabuleiro de xadrez.</p>
<p>Eles olham uns para os outros como se estivessem diante do Espelho; eles vêem assim, o oposto, mas ao mesmo tempo eles mesmos.</p>
<p>Os adormecidos dos dois times não vêem uns aos outros como o próprio reflexo deles, mas como alguma verdade concreta.</p>
<p>Eles acho que eles não são outro, pois a aparência física deles é aparentemente oposta ao outro time, mas o outro time é a corporificação do seu próprio interno; da sua verdade mais interna.</p>
<p>O outro time é externamente o que esse time é internamente; e o que esse time é internamente não poderia ser agradável pois não é agradável sua tendência à dualidade seja qual for.</p>
<p>Ainda assim, a perfeição do seu reflexo faz com que os dois times em geral nunca percebam o reflexo, nunca descubram que há uma passagem ali, por ali não ser uma verdade concreta, apenas um reflexo formado por um alinhamento perfeito ─ ou quase perfeito do seu interno.</p>
<p>Um alinhamento <em>quase</em> perfeito.</p>
<h1 id="paradigmas-8-autocura">Paradigmas #8 ─ Autocura</h1>
<p><em>Paradigmas</em> número 8 é nomeado “Rituais de Autocura”.</p>
<h3 id="teoria">Teoria</h3>
<p><strong>Rituais de autocura</strong> é um paradigma que se dá pela compreensão de que as chamadas doenças ou <em>desvios da vitalidade</em> são causadas por desvios de uma coisa que vamos chamar <em>alinhamento</em>.</p>
<p>A imagem é a seguinte:</p>
<blockquote>
<p>Vamos dizer que os homens estão correndo pelo rio da vida, mas eventualmente ficam presos à margem; presos à margem do rio da vida.</p>
</blockquote>
<p>Os rituais de autocura fazem com que o homem se solte, se liberte, e assim volte a fluir pelas águas da Vida.</p>
<p>Uma outra imagem é a seguinte:</p>
<blockquote>
<p>Talvez poderíamos imaginar um músico de orquestra que se perdeu do ritmo da sua orquestra durante um concerto. A orquestra continua.</p>
</blockquote>
<p>Perdeu o ritmo da orquestra da vida, tão bela a música! Aqui entra o ponto principal do ritual de autocura.</p>
<p>A orquestra aqui é assim como o ritmo da vida; (sua forma é dificilmente discutível<a href="#fn11" class="footnoteRef" id="fnref11"><sup>11</sup></a>).</p>
<p>O <strong>ritual de autocura</strong> é a forma daquele músico se re<em>alinhar</em> com a sua orquestra; ele é o paradigma do ser humano se re<em>alinhar</em> com a corrente da vida<a href="#fn12" class="footnoteRef" id="fnref12"><sup>12</sup></a>.</p>
<h3 id="prática">Prática</h3>
<p>A prática dos rituais de autocura é deliciosa!</p>
<p>Não existe certo e errado; existe (a) <em>movimento com fluidez e graça</em> ─ que nos rituais de autocura representam a vida; e (b) <em>dificuldade de movimento</em> ─ que nos rituais de autocura representam os <em>desvios da vitalidade</em>.</p>
<p>A prática é a seguinte:</p>
<blockquote>
<p><strong>Ter a coragem de realizar a simples ordem do dia.</strong></p>
</blockquote>
<p>A ordem do dia é o remédio perfeito para corrigir o que está errado; de perfeito acordo e alinhamento com o belo estilo de vida que cada um escolheu para si.</p>
<h1 id="paradigmas-9-o-anjo-de-deus">Paradigmas #9 ─ O Anjo de Deus</h1>
<p>Ser protegido pelo Anjo de Deus significa que o <em>blueprint</em> ─ projeto, que o homem assumiu para sua vida resulta sempre em méritos (ações positivas). O centro gravitacional do homem resulta em ações meritórias.</p>
<p><code>DEUS</code> é o Espírito.</p>
<p><code>ANJO</code> é o Augoeides, ou a Alma, ou o próprio Mestre Interno, ou A Verdadeira Imagem do Ser ─ a sabedoria do homem decorrente de seus vários ciclos de renascimentos.</p>
<h1 id="pontos-0-desenvolvimento">Pontos #0 ─ Desenvolvimento</h1>
<h3 id="tl-dr">TL; DR</h3>
<blockquote>
<p>Desenvolver uma idéia ─ um ponto ─ significa des-envolver, ie., manter o foco na idéia durante nosso dia-a-dia e desse modo, através da atenção e da visão, ir aos poucos talhando nossa compreensão sobre <strong>(a)</strong> o que ela realmente é, <strong>(b)</strong> sobre o que ela é não é, <strong>(c)</strong> sobre como exercê-la, <strong>(d)</strong> sobre o que ela <em>preferencialmente</em> é, <strong>(e)</strong> o que ela <em>preferencialmente</em> não é, <strong>(f)</strong> como exercê-la <em>ainda melhor</em> etc.</p>
</blockquote>
<h3 id="sobre-a-tag-pontos">Sobre a tag “Pontos”</h3>
<p><em>Pontos</em> é uma etiqueta que apontará para uma <strong>idéia abstrata a ser desenvolvida, isto é, um ponto</strong>.</p>
<p>Por exemplo, as pessoas querem <em>desenvolver a compaixão</em> mas não sabem como fazer isso. Perguntam, “como ser compassivo?”</p>
<p>Se tais pessoas escutam a frase <em>desenvolver a compaixão</em>, elas entendem que tal frase é a resposta para seus próprios questionamentos, assim: é como se tomássemos essa idéia tal como um escultor toma um bloco de pedra e o desenvolve em uma escultura à medida que à desbasta.</p>
<p>Desenvolver uma idéia ─ um ponto ─ significa des-envolver, manter o foco na idéia durante nosso dia-a-dia e desse modo, através da atenção e da visão ir talhando nossa compreensão sobre o que ela realmente é, sobre o que ela é não é, sobre como exercê-la, sobre o que ela <em>preferencialmente</em> é, o que ela <em>preferencialmente</em> não é, como exercê-la <em>ainda melhor</em> etc.</p>
<p>“Chegar à conclusão” não é um bom termo, pois um ponto pode ser desenvolvido <em>ad libitum</em>, <em>ad infinitum</em>. (à vontade, ao infinito) basicamente por ser um uma idéia abstrata.</p>
<p>Então nossa tag tem como propósito apontar pontos, idéias importantes que deveriamos nos focar e aprimorar para melhorar nosso desenvolvimento e convívio humanos.</p>
<h1 id="insights-8-o-caminho-do-lifestyle">Insights #8 ─ O Caminho do Lifestyle</h1>
<p>Um passo na direção do belo estilo de vida que tu escolheu pra ti, é um passo na direção do belo estilo de vida que tu escolheu pra ti. Pode acontecer o que tiver de acontecer, ainda assim, um passo na direção do estilo de vida é sempre um passo na direção do estilo de vida.</p>
<p>Se coisas acontecem, coisas acontecem.</p>
<h1 id="mindfreaking-6-o-segredo-da-riqueza">Mindfreaking #6 ─ O segredo da riqueza?</h1>
<p>Quando está tudo bem, então as pessoas se estacionam às suas zonas de conforto. É melhor quando tá tudo bem, claro, mas a postura sábia é ficar atento tanto quando as coisas vão bem, quanto quando as coisas não vão lá muito bem.</p>
<p>Se não fica esticado - atento - quando as coisas vão bem, então elas decaem, mais cedo ou mais tarde. Se fica atento quando as coisas vão bem, fica ainda melhor, e estável. Se aprendeu a ser atento e as coisas não vão tão bem, porque tu escorregou, tu não coloca a culpa no outro, mas como sabe que &quot;tuas ações, teu carma&quot; tu volta a ficar bem, porque sabe que para as coisas ficarem bem basta corrigir tuas ações e ficar atento no que tu tá fazendo de errado.</p>
<p>Eu contemplo desta forma, como quando homens atingem um grau alto Iniciático, elas se dedicam para a filantropia, inexcepcionalpente. A filantropia, se dedicar ao outro, é uma ótima forma de ficar sempre atento e mudar as coisas ao redor. Os sábios concordam em unanimidade sobre o segredo para conquistar a riqueza: generosidade. Quer ficar rico? então dê. Lembre-se de mim, Iacchus Mercurius<a href="#fn13" class="footnoteRef" id="fnref13"><sup>13</sup></a>, e dê.</p>
<h1 id="pontos-1-sobre-honestidade">Pontos #1 ─ Sobre Honestidade</h1>
<p>As pessoas que participam de fórums virtuais, principalmente as envovidas com política, parece que tem a solução para todos os problemas do mundo exceto para os seus próprios. A tolice e o orgulho nunca melhoraram o mundo e nunca vão torná-lo um lugar melhor.</p>
<p>Eu vejo quase que diariamente pessoas entorpecidas pela idéia de estarem cheias de razão descendo da coerência lógica para se defender seus próprios pontos de vista à força, a despeito de estarem certos ou errados; a coerência lógica é a medida da verdade, tais homens irão sucumbir porque essa atitude é insustentável (&quot;verdade&quot;, &quot;consciência&quot;, e &quot;vida&quot; são sinônimos). O outro tipo, pior que esse, é o obcecado, o louco, que defende suas idéias claramente tecidas (embaraçadas) por marcas mentais carmicas como se fossem uma verdade absoluta.</p>
<p>Mas eu escrevo este texto para tornar as pessoas que tem contato comigo conscientes, que eu não faço parte disso! Eu contemplei em toda a minha vida pouquíssimos homens verdadeiramente comprometidos com o espírito da verdade! E que eu não reconheço nunca pessoas que colocam seu orgulho acima da coerência lógica e do bom senso, a mentira acima da verdade.</p>
<p>por Ven ∴ I. M.</p>
<h1 id="paradigmas-10-transvivência">Paradigmas #10 ─ Transvivência</h1>
<p><em>Transvivência</em> ou <em>transvivenciação</em> se refere ao acúmulo de méritos e às respectivas práticas de acúmulos de méritos através de oferecimento de Mandala para atingir renascimentos<a href="#fn14" class="footnoteRef" id="fnref14"><sup>14</sup></a> mais elevados, desenvolvidas e praticadas pela Ordem de Leetcraft.</p>
<blockquote>
<p>“Não é este [presente mundo] o meu reino; o Céu é o meu verdadeiro reino.”</p>
</blockquote>
<h1 id="paradigmas-11-fios-causais">Paradigmas #11 ─ Fios Causais</h1>
<p>Fios Causais ou Linhas Traçadas são um meio hábil através do qual nós somos capazes de apontar uma sucessão cármica/ou um efeito causado pela atividade Iluminada de um Iniciado. Ou podemos atar duas situações causais.</p>
<h1 id="sobre-este-sítio">Sobre este sítio</h1>
<p>COMO EU recebo muitos questionamentos principalmente no Facebook e de conhecidos pessoais sobre os assuntos dos quais escrevemos aqui neste sítio, então eu agora reparo que as pessoas têm sinceramente muitas dificuldades de entender os assuntos de teoria de R.P.G. e artes quânticas que tratamos<a href="#fn15" class="footnoteRef" id="fnref15"><sup>15</sup></a>, e isso como se fosse-lhes total imperscrutável; por isso para oferecer suporte básico para as pessoas interessadas eu irei agora me dedicar à organização da minha Ordem ─ a Ordem de Leetcraft.</p>
<p>Meu argumento antigo para tratar sobre assuntos avançados de artes quânticas, apenas com outros iniciados, era que um de nós não poderia garantir que as leis às quais nós estamos sujeitados por nosso compromisso se aplicam também aos homens não-iniciados.</p>
<p>Portanto, tendo isso ainda em vista, ao invés de continuar agindo desse modo ─ escrevendo coisas que ninguém entende ─ eu vou me calar de toda a fala externa ─ pública, o que não significa que pararei de escrever aqui ─ e usar este sítio apenas para tomar notas sobre a organização da minha Ordem.</p>
<p>A Ordem de Leetcraft terá em vista assistir o progresso de aspirantes à Verdadeira Iniciação, ie., desde o princípio, até sua Consecussão com a Ordem Soberana<a href="#fn16" class="footnoteRef" id="fnref16"><sup>16</sup></a>. Desse modo nós podemos suportar nossa Fraternidade de Magos<a href="#fn17" class="footnoteRef" id="fnref17"><sup>17</sup></a> nos dois níveis, nos quatro mundos; colocando assim uma Máquina em movimento.</p>
<p>Todos os posts subsequentes são apenas anotações pessoais, os tijolos da Ordem, portanto. E o mais importante, o <strong>Silêncio</strong>, tal como se enterra uma semente para que brote.</p>
<h1 id="dev-1-no-princípio">Dev #1 ─ No Princípio</h1>
<p>Tu pode fazer qualquer coisa, tal como um rabisco, uma sketch, um desenho, então tu sopra e diz: &quot;fala!&quot; Tu diz &quot;Anda!&quot;; Tu diz &quot;Voa!&quot;. Et C.</p>
<h1 id="dev-2-being-human-being">Dev #2 ─ Being human being</h1>
<p>Ser um ser humano: desenvolva suas técnicas de charme e simpatia sob a loucura controlada.</p>
<p>Minha palavra sagrada aqui é charme.</p>
<pre><code>C.H.A.R.M.E.</code></pre>
<h1 id="dev-3-dos-princípios-e-ânimos">Dev #3 ─ Dos Princípios e Ânimos</h1>
<p>Ecologia, absurdamente.</p>
<p>Direitos dos animais.</p>
<p>Saúde; alimentação; orgânicos.</p>
<p>Arte; A ARTE, as Artes.</p>
<p>Cultura e humanidades.</p>
<p>Ação no mundo.</p>
<p>Fraternidade. Como em Fraternidade.</p>
<p>Gênio. <em>Ingenium</em>.</p>
<p>Desenvolvimento pessoal; auto-realização.</p>
<p>Espiritualidade. Iniciação.</p>
<p>Troca de vivências. Humanidade e diálogo.</p>
<p>Laboratório. O Iluminismo Científico.</p>
<p>Ordem. Também organização e ordem.</p>
<p>Cajado, Coroa, Manto. De herança hirárquica. Ímpares.</p>
<p>Abraços grátis. Free hugs.</p>
<h1 id="dev-4-saudosismo-e-underground">Dev #4 ─ Saudosismo e Underground</h1>
<p>Tenho dificuldades em permitir que nossas crianças cresçam sem IRC, mailing lists e aquele underground mágico sintonia finissima que eu tive em minha adolescência.</p>
<p>Portanto, IRC e mailing lists!</p>
<h1 id="magick-1-um-servitor-tem-poder-real">Magick #1 ─ Um servitor tem poder real?</h1>
<p><em>Resposta editada para um questionamento que li num fórum virtual que participo.</em></p>
<p><strong>Pergunta</strong>: É possível criar um servitor para me conceder o poder de perceber mentiras ou más intenções em pessoas que vêm até mim?</p>
<p><strong>Resposta</strong>: A resposta simples, tu não pode dar à um servitor uma habilidade a qual tu mesmo não possui. Eu já vi pessoas que nunca disseram mentira na vida, tem nojo e vergonha elas mesmas de dizer mentiras, não têm cara pra isso (têm vergonha na cara), e ninguém consegue dizer mentira para elas; elas não precisam de qualquer aliado natural ou artificial para isso. Magia é virtude.</p>
<p>Tu não pode dizer mentiras, estar dentro dos joguinhos humanos, e querer que sua consciência ou algo criado por ela esteja além dos joguinhos, é matematicamente impossível. Meditação é a forma de sair dos joguinhos. Poder, despertar Kundalini etc, todo mundo quer, responsabilidade pouca gente quer. (mas hoje em dia isso é impossível.)</p>
<p>Existem motivos para lançar servitores, mas isso para um não Iniciado (falando impessoalmente) se assemelha à um ser humano no oceano tentando nadar como um peixe. Fraternalmente. :)</p>
<p>PS: essa gente muito mística, &quot;ocultistas&quot; orgulhosos, &quot;esquisotéricos&quot; recalcados ou não, &quot;magos magistas&quot;, va ver a vida deles de perto, (e não apenas o que eles dizem na internet ou para conhecidos), pra ver se tu vê algo elevado e fora do comum. Andam em círculo, apenas, envelhecem assim. A magia e a espiritualidade são um tesouro tão grande, eles têm algo tão nobre perto deles, a porta para o Infinito, e ainda assim eles perdem o tempo e a vida deles com infantilidades, jogam tudo no ralo, nunca deixam de ser homens comuns. Morrem como homens comuns. (desculpa o off-topic)</p>
<p>PS2 (on-topic): Essas pessoas que nunca disseram mentiras na vida, quando alguém vem dizer uma mentira para elas elas vêem um &quot;easter egg&quot;. Easter egg significa &quot;ovo de páscoa&quot;. É como se fosse uma coisa totalmente fora de cena e enevoada, cortando a brisa. Elas vêem como se a pessoa tivésse uma névoa totalmente freak de intenção fora da cena daquele momento. Como tu ta fora do jogo, tu vê uma coisa que tá totalmente querendo te colocar no jogo, &quot;prender tua respiraçao&quot;. (E essas pessoas deveriam tomar cuidado redobrado com coisas que as põe no jogo; eg.: mulheres bonitas. Se for seduzido, caiu. Magia é virtude. :) )</p>
<p>PS3 - mais ou menos no tópico agora: QUANDO tu for capaz de ver isso que eu chamo de easter egg, e QUANDO tu for um praticante avançado, mantenha a consciência dos Dois Mundos (primeira e segunda-terceira atenção de Castañeda) e escute as palavras da pessoa mal intencionada como quem escuta as palavras de um grande mestre ou de um Buda totalmente Iluminado. Estes mentirosos ignoram que tem a natureza búdica neles, que são Deus e são utilissimos! rsrs lolz. O objetivo da prática é passar da segunda para a terceira atenção. A visão é &quot;como se eles viessem dar presentes&quot;. Free stuff. :)</p>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>Elas percebem que há algo, mas não exatamente o que é esse algo.<a href="#fnref1">↩</a></p></li>
<li id="fn2"><p>Isto, e de um modo original e que ainda não há.<a href="#fnref2">↩</a></p></li>
<li id="fn3"><p>Elas percebem que há algo, mas não exatamente o que é esse algo.<a href="#fnref3">↩</a></p></li>
<li id="fn4"><p>Isto, e de um modo original e que ainda não há.<a href="#fnref4">↩</a></p></li>
<li id="fn5"><p>E também de outros espíritos que se afiliarem se o desígnio nos mostrar que podemos oferecer suporte: todos sob a égide de Uma Única Ordem.<a href="#fnref5">↩</a></p></li>
<li id="fn6"><p>O Mestre Interno, que vive na presença de todos os Mestres portanto deles é indissociável.<a href="#fnref6">↩</a></p></li>
<li id="fn7"><p>Os homens não cometem suas más ações devido a aspectos abstratos, mas sim conceitualizações concretas. Ainda Deus, eles transformam Deus — O Perfeito Abstrato ou o Abstrato Perfeito — em um homem concreto; fazem o mal, pois, em nome desse homem-concreto-gigante-imaginário.<a href="#fnref7">↩</a></p></li>
<li id="fn8"><p>Ou alternativamente você pode entrar no enderço http://kassius.org e clicar no botão “TO THE COMMUNITY”.<a href="#fnref8">↩</a></p></li>
<li id="fn9"><p>Elas percebem que há algo, mas não exatamente o que é esse algo.<a href="#fnref9">↩</a></p></li>
<li id="fn10"><p>Elas percebem que há algo, mas não exatamente o que é esse algo.<a href="#fnref10">↩</a></p></li>
<li id="fn11"><p>Elas percebem que há algo, mas não exatamente o que é esse algo.<a href="#fnref11">↩</a></p></li>
<li id="fn12"><p>Isto, e de um modo original e que ainda não há.<a href="#fnref12">↩</a></p></li>
<li id="fn13"><p>Elas percebem que há algo, mas não exatamente o que é esse algo.<a href="#fnref13">↩</a></p></li>
<li id="fn14"><p>Elas percebem que há algo, mas não exatamente o que é esse algo.<a href="#fnref14">↩</a></p></li>
<li id="fn15"><p>Elas percebem que há algo, mas não exatamente o que é esse algo.<a href="#fnref15">↩</a></p></li>
<li id="fn16"><p>Isto, e de um modo original e que ainda não há.<a href="#fnref16">↩</a></p></li>
<li id="fn17"><p>E também de outros espíritos que se afiliarem se o desígnio nos mostrar que podemos oferecer suporte: todos sob a égide de Uma Única Ordem.<a href="#fnref17">↩</a></p></li>
</ol>
</div>

\end{document}
